/* & This will import the desired font */
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

/* & ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* & This will style the font for the entire webpage */

* {
    /* ~ This will make the "width" and "height" include padding and border, instead of adding them on top */
    box-sizing: border-box;
}

/* & ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* & This will style the default appearance of the entire webpage */

body {
    background-color: #393a64;
    color: #f4f5f1;
    font-family: "Poiret One";
    width: 100%;
    letter-spacing: 0.1em;
    line-height: 1.5;
    /* padding: 30px; */
    /* ~ This will remove the default browser spacing */
    padding: 0;
    margin: 0;
}

/* & ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* & This will style the elements in the header section of the webpage */

header {
    margin: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-img {
    width: 200px;
    height: 215px;
    border: 4px solid #d5ffc0;
    padding: 10px;
}

/* ~ This will style the <hr> element -> the horizontal line or dividing line will become a vertical divider */

.vertical-divider {
    width: 10px;
    height: 175px;
    background: linear-gradient(#d5ffc0 35%, #d17 75%)no-repeat;
}

h1 {
    border-bottom: 4px solid #d5ffc0;
    font-weight: 400;
    padding-bottom: 10px;
}

/* ~ This will style the <hr> element -> the horizontal line or dividing line that will divide each section */

.section-divider {
    /* width: 100%; */
    height: 10px;
    background: linear-gradient(90deg, #d5ffc0 35%, #d17 75%)no-repeat;
    margin: 10px 20px;
}

/* ~ This will style the <p> element in the sub-heading element */

sub-heading > p {
    text-align: center;
    border: 4px solid #d5ffc0;
    width: 30%;
    padding: 10px;
    margin: auto;
}

/* & ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~ This will style the elements in the nav bar section of the webpage */

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}

/* ~ This will style the links to the different sections of the webpage */

a {
    text-decoration: none;
    color: #f4f5f1;
}

/* ~ This will remove the marker for the <li> elements in the nav bar */

nav > ul > li {
    list-style-type: none;
}

.nav-list {
    border-bottom: 4px solid #d5ffc0;
    padding-bottom: 10px;
    /* margin: auto; */
    /* margin: 10px; */
}

/* & ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* & This will style the elements in the main section of the webpage */

h2 {
    text-align: center;
    font-weight: 400;
}

/* ~ This will style the <hr> element -> the horizontal line or dividing line that will follow the title of each section */

.title-divider {
    width: 35%;
    height: 10px;
    background: linear-gradient(90deg, #d5ffc0 35%, #d17 75%)no-repeat;
}

li {
    list-style-type: square;
    list-style-position: inside;
    margin: 10px;
    /* margin-left: 10px; */
}

/* ~ This will style the markers for the <li> element */

li::marker {
    font-size: 1.3em;
    color: #ff49c1;
}

/* li > img {
    margin-top: 10px;
} */

/* & ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~ This will style the elements in the notification section */

#notification {
    background-color: #d5ffc0;
    color: black;
    width: 40%;
    padding: 10px;
    margin: auto;
}

/* & ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~ This will style the elements in the story section */

#story-section > p {
    margin: 20px;
}

#story-image {
    max-width: 100%;
    max-height: 250px;
    border: 4px solid #d5ffc0;
    padding: 10px;
    margin-left: 35%;
}

/* & ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~ This will styl the elements in the service section */

#services-section > p {
    margin: 20px;
}

/* & ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~ This will style the elements in the contact section */

#contact-section > p {
    margin: 20px;
}

form {
    width: max-content;
    text-align: center;
    border: 4px solid #d5ffc0;
    padding: 8px;
    margin: auto;
}

input[type="email"] {
    width: 400px;
    height: 40px;
    text-align: center;
    padding: 8px;
    margin: 10px;
}

input[type="submit"] {
    background-color: #d5ffc0;
    width: 100px;
    height: 40px;
    font-size: 18px;
    padding: 8px;
    margin: 10px;
}

/* & ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* & This will style the elements in the footer section of the webpage */
footer {
    margin: 20px;
}

.footer-img {
    width: 160px;
    height: 200px;
    border: 4px solid #d5ffc0;
    padding: 10px;
}
